<div class='position-sticky w-100' style="z-index: 10; top: 0px">
  <nav class="navbar navbar-expand-md navbar-light bg-light shadow d-flex px-4 py-3 ">
    <a class="navbar-brand mr-4" href="/">
      <img src="/public/images/logo.png" width="35px" />
      <span class="text-danger">Online</span> <span class='font-italic'
        style='color:rgb(123, 234, 253); text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;'>Academy</span>
    </a>

    <div class="collapse navbar-collapse flex-grow-1" id="navbarSupportedContent">
      <button class="btn btn-primary d-lg-inline d-none" id="menu-toggle"><i id="menu-toggle-icon"
          class="fas fa-indent"></i></button>

      <form id="frmLogout" method="POST" action="/auth/logout"></form>
      <form class="form-inline my-2 my-lg-0 form-nav flex-grow-1">

        {{#if (isUndefined user.userType)}}
        <input class="form-control mr-sm-2 flex-grow-1 mx-3 mr-2" type="search" placeholder="Tìm kiếm khóa học"
          aria-label="Search">
        <div class="ml-3">
          <a class="btn my-2 my-sm-0 m-1 flex-grow-1 d-lg-inline d-none" href="/auth/login">
            Giảng dạy với OA
          </a>
          <a class="btn my-2 my-sm-0 m-1 flex-grow-1 mr-4" href="/auth/login">
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
          </a>
          <div class="d-lg-inline d-none">
            <a class="btn btn-outline-primary my-2 my-sm-0 m-1 text-primary" style="width: 8rem!important;"
              href="/auth/login">
              Đăng nhập
            </a>
            <a class="btn btn-outline-primary my-2 my-sm-0 m-1 bg-primary text-white " style="width: 8rem!important;"
              href="/auth/register">
              Đăng ký
            </a>
          </div>
        </div>
        {{else}}
        {{#if (isUser user.userType)}}
        <input class="form-control mr-sm-2 flex-grow-1 mx-3 mr-2" type="search" placeholder="Tìm kiếm khóa học"
          aria-label="Search">
        <div class="ml-3 d-flex">
          <a class="btn my-2 my-sm-0 m-1 flex-grow-1 d-lg-inline d-none" href="/auth/login">
            Giảng dạy với OA
          </a>
          <a class="btn my-2 my-sm-0 m-1 flex-grow-1 d-lg-inline d-none" href="/courses/registed">
            Khóa học của tôi
          </a>
          <div class="nav-item dropdown d-lg-inline d-none">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user-circle mr-1" aria-hidden="true"></i>
              <b>{{user.userUsername}}</b>
            </a>
              <div class="dropdown-menu  dropdown-menu-right" style="padding: 0px!important; " aria-labelledby="navbarDropdown">
              <p style="text-align: center;background-color: #D6DADE;padding: 5px; margin: 0px!important">Tài khoản</p>
              <a class="dropdown-item" style="padding: 5px important ;border-bottom: 1px #D6DADE solid" href="/users/profile">
                <i class="fa fa-user mr-2" aria-hidden="true"></i>
                Thông tin cá nhân
              </a>
               <a class="dropdown-item" style="border-bottom: 1px #D6DADE solid" href="/courses/watchList">
                  <i class="fa fa-heart mr-2" aria-hidden="true"></i>
                  Danh sách yêu thích
                </a>
              <a class="dropdown-item" style="padding: 0px important; ;border-bottom: 1px #D6DADE solid" href="javascript: $('#frmLogout').submit();">
                <i class="fa fa-sign-out mr-2" aria-hidden="true"></i>
                Đăng xuất
              </a>
              
            </div>
          </div>
        </div>
        {{else}}
        {{#if (isLecturer user.userType)}}
        <input class="form-control mr-sm-2 flex-grow-1 mx-3 mr-2" type="search" placeholder="Tìm kiếm khóa học"
          aria-label="Search">
        <div class="ml-3 d-flex">
          <a class="btn my-2 my-sm-0 m-1 flex-grow-1 d-lg-inline d-none" href="/auth/login">
            Khóa học của tôi
          </a>
          <div class="nav-item dropdown d-lg-inline d-none">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user-circle mr-1" aria-hidden="true"></i>
              <b>{{user.userUsername}}</b>
            </a>
              <div class="dropdown-menu  dropdown-menu-right" style="padding: 0px!important; " aria-labelledby="navbarDropdown">
              <p style="text-align: center;background-color: #D6DADE;padding: 5px; margin: 0px!important">Tài khoản</p>
              <a class="dropdown-item" style="padding: 0px important ;border-bottom: 2px #D6DADE solid" href="/users/profile">
                <i class="fa fa-user mr-2" aria-hidden="true"></i>
                Thông tin cá nhân
              </a>
               <a class="dropdown-item" style="border-bottom: 1px #D6DADE solid" href="/courses/watchList">
                  <i class="fa fa-heart mr-2" aria-hidden="true"></i>
                  Danh sách yêu thích
                </a>
               <a class="dropdown-item" style="padding: 0px important; ;border-bottom: 1px #D6DADE solid" href="javascript: $('#frmLogout').submit();">
                <i class="fa fa-sign-out mr-2" aria-hidden="true"></i>
                Đăng xuất
              </a>
            </div>
          </div>
        </div>
        {{else}}

        <div class="mr-sm-2 flex-grow-1 mx-3 mr-2"></div>
        <div class="ml-5  d-flex">
          <div class="nav-item dropdown d-lg-inline d-none">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user-circle mr-1" style="font-size: 20px" aria-hidden="true"></i>
              <b>{{user.userUsername}}</b>
            </a>
            <div class="dropdown-menu  dropdown-menu-right" style="padding: 0px!important; " aria-labelledby="navbarDropdown">
              <p style="text-align: center;background-color: #D6DADE;padding: 5px; margin: 0px!important">Tài khoản</p>
              <a class="dropdown-item" style="padding: 0px important ;border-bottom: 2px #D6DADE solid" href="/users/profile">
                <i class="fa fa-user mr-2" aria-hidden="true"></i>
                Thông tin cá nhân
              </a>
              <a class="dropdown-item" style="padding: 0px important" href="javascript: $('#frmLogout').submit();">
                <i class="fa fa-sign-out mr-2" aria-hidden="true"></i>
                Đăng xuất
              </a>
            </div>
          </div>
        </div>

        {{/if}}
        {{/if}}
        {{/if}}
      </form>

    </div>
  </nav>
</div>