<div class="mt-5 container pt-5">
    <h3 class="" style="">
        <span  >
            {{this.name}}</span>
        <hr>
    </h3>

    <div class='d-flex row' style="position: relative">
        <div style="position: absolute; top: 50%; z-index: 10;left:-25px; transform: translate(0,-100%)">
            <a class=" align-self-center" href="#carouselExampleIndicators_{{this.index}}" role="button" data-slide="prev">
                <i class=" fa fa-backward fa-2x text-primary" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
            </a>
        </div>
        <div id="carouselExampleIndicators_{{this.index}}" class="carousel slide flex-grow-1" data-ride="carousel"
            data-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <ul style="margin: 0px !important" id="autoWidth" class="cs-hidden slide-show row mx-5">
                        {{#each parameter}}
                        <div class="col-md-3 mb-5">
                            <div class="card h-100 shadow d-flex m-auto" style="max-width: 250px">
                                <img src="{{thumbImage courseImage}}" alt="{{courseName}}" title="{{courseName}}">
                                <div class="p-2 d-flex flex-column flex-grow-1">
                                    <h5 class="font-weight-bold">{{courseName}}</h5>
                                    <span class="mb-2">
                                        {{{courseDes}}}
                                    </span>
                                    <div class="mt-auto d-flex justify-content-between">
                                        <span class="card-text">Giá: <span class="text-danger font-weight-bold">{{#if
                                                (isZero coursePrice)}}Miễn
                                                Phí {{else}}{{coursePrice}}{{/if}}</span>
                                        </span>
                                        <div class="my-rating pl-2 pb-2 " data-rating="{{coursePointEval}}"></div>
                                    </div>
                                </div>

                                <div class="card-footer d-flex justify-content-between" style="padding:1rem!important">
                                    <a class="btn btn-sm btn-outline-primary py-2" href="/courses/{{courseID}}"
                                        role="button">
                                        <i class="fa fa-eye mr-1" aria-hidden="true"></i>
                                        <span>Chi tiết</span>
                                    </a>
                                    <a class="btn btn-sm btn-outline-success py-2" href="#" role="button">
                                        <i class="fa fa-shopping-cart mr-1" aria-hidden="true"></i>
                                        <span>Thêm vào giỏ</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {{/each}}

                    </ul>
                </div>
                <div class="carousel-item ">
                    <ul style="margin: 0px !important" id="autoWidth" class="cs-hidden slide-show row mx-5">
                        {{#each parameter}}
                        <div class="col-md-3 mb-5">
                            <div class="card h-100 shadow d-flex m-auto" style="max-width: 250px">
                                <img src="{{thumbImage courseImage}}" alt="{{courseName}}" title="{{courseName}}">
                                <div class="p-2 d-flex flex-column flex-grow-1">
                                    <h5 class="font-weight-bold">{{courseName}}</h5>
                                    <span class="mb-2">
                                        {{{courseDes}}}
                                    </span>
                                    <div class="mt-auto d-flex justify-content-between">
                                        <span class="card-text">Giá: <span class="text-danger font-weight-bold">{{#if
                                                (isZero coursePrice)}}Miễn
                                                Phí {{else}}{{coursePrice}}{{/if}}</span>
                                        </span>
                                        <div class="my-rating pl-2 pb-2 " data-rating="{{coursePointEval}}"></div>
                                    </div>
                                </div>

                                <div class="card-footer d-flex justify-content-between" style="padding:1rem!important">
                                    <a class="btn btn-sm btn-outline-primary py-2" href="/courses/{{courseID}}"
                                        role="button">
                                        <i class="fa fa-eye mr-1" aria-hidden="true"></i>
                                        <span>Chi tiết</span>
                                    </a>
                                    <a class="btn btn-sm btn-outline-success py-2" href="#" role="button">
                                        <i class="fa fa-shopping-cart mr-1" aria-hidden="true"></i>
                                        <span>Thêm vào giỏ</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {{/each}}

                    </ul>
                </div>
                <div class="carousel-item ">
                    <ul style="margin: 0px !important" id="autoWidth" class="cs-hidden slide-show row mx-5">
                        {{#each parameter}}
                        <div class="col-md-3 mb-5">
                            <div class="card h-100 shadow d-flex m-auto" style="max-width: 250px">
                                <img src="{{thumbImage courseImage}}" alt="{{courseName}}" title="{{courseName}}">
                                <div class="p-2 d-flex flex-column flex-grow-1">
                                    <h5 class="font-weight-bold">{{courseName}}</h5>
                                    <span class="mb-2">
                                        {{{courseDes}}}
                                    </span>
                                    <div class="mt-auto d-flex justify-content-between">
                                        <span class="card-text">Giá: <span class="text-danger font-weight-bold">{{#if
                                                (isZero coursePrice)}}Miễn
                                                Phí {{else}}{{coursePrice}}{{/if}}</span>
                                        </span>
                                        <div class="my-rating pl-2 pb-2 " data-rating="{{coursePointEval}}"></div>
                                    </div>
                                </div>

                                <div class="card-footer d-flex justify-content-between" style="padding:1rem!important">
                                    <a class="btn btn-sm btn-outline-primary py-2" href="/courses/{{courseID}}"
                                        role="button">
                                        <i class="fa fa-eye mr-1" aria-hidden="true"></i>
                                        <span>Chi tiết</span>
                                    </a>
                                    <a class="btn btn-sm btn-outline-success py-2" href="#" role="button">
                                        <i class="fa fa-shopping-cart mr-1" aria-hidden="true"></i>
                                        <span>Thêm vào giỏ</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {{/each}}

                    </ul>
                </div>
            </div>
        </div>
        <div style="position: absolute; top: 50%; z-index: 10; right: -25px; transform: translate(0,-100%)">
            <a class="align-self-center" href="#carouselExampleIndicators_{{index}}" role="button" data-slide="next">
                <i class=" fa fa-forward fa-2x text-primary" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>