{{#section 'js'}}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>


<script>
  $(document).ready(function () {
    $('#myTable').DataTable({
       "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.22/i18n/Vietnamese.json"
        }
    });
  });
</script>
{{/section}}

<div class="card m-5 mt-5">
  <h5 class="card-header d-flex justify-content-between">
    <div>
      <i class="fas fa-user-cog mr-2"></i>Danh sách người dùng
    </div>

    <a class="btn btn-outline-success" href="/users/add" role="button">
      <i class="fa fa-plus" aria-hidden="true"></i>
      Thêm mới
    </a>
  </h5>
  {{#if this.empty}}
  <div class="card-body">
    <p class="card-text">Không có dữ liệu.</p>
  </div>
  {{else}}
  <div class="card-body p-3">
    <table id="myTable" class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Email</th>
          <th scope="col">Họ tên</th>
              <th scope="col">Loại người dùng</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.users}}
        <tr>
          <th scope="row">{{userUsername}}</th>
          <td>{{userEmail}}</td>
          <td>{{userDisplayName}}</td>
          <td>{{userType}}</td>
          <td class="text-right">
            <a class="btn btn-sm btn-primary" href="/users/{{userUsername}}" role="button" title="Edit User">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{/if}}
  <div class="card-footer text-muted">

  </div>
</div>
