{{#section 'css'}}
{{/section}}

{{#section 'js'}}
<script src="https://cdn.tiny.cloud/1/3z24aq1ehvn6w8i0d878thpnmydyb6o2uqwjclilcagozhbt/tinymce/5/tinymce.min.js"
  referrerpolicy="origin"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/css/fileinput.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/themes/fa/theme.min.js"></script>


<script>
  tinymce.init({
    selector: '#describe',
    height: 200,
    plugins: 'paste image link autolink lists table media',
    menubar: false,
    toolbar: [
      'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
    ],
  });

  $('#fuMain').fileinput({
    theme: 'fa',
    dropZoneEnabled: false,
    dataShowPreview="false",
    allowedFileExtensions: ['png', 'jpg', 'gif'],
  });
</script>
{{/section}}
<div class="container overflow-hidden mt-5">
  <div class="card">
    <h5 class="card-header text-center">
      Profile
      <div></div>
    </h5>

    <div class="row vh-100 m-0">
      <div class="bg-light border-right col-md-4">
        <div class="text-center my-2">
          <form action="" method="POST" enctype="multipart/form-data">
            <div class="card">
              <h5 class="card-header">Upload</h5>
              <div class="card-body">
                <div class="form-group">
                  <input id="fuMain" name="fuMain" type="file" class="file" multiple>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="list-group list-group-flush border rounded text-center">
          <a href="/users/profile?tab=general"
            class="list-group-item list-group-item-action {{#if this.isGeneralTab}} active {{else}} bg-light {{/if}}">
            <i class="fa fa-gear mr-3" aria-hidden="true"></i>
            General
          </a>
          <a href="/users/profile?tab=password"
            class="list-group-item list-group-item-action {{#if this.isGeneralTab}} bg-light {{else}} active {{/if}}">
            <i class="fa fa-key mr-3" aria-hidden="true"></i>
            Password
          </a>
        </div>
      </div>

      <div class="card-body col-md-8">
        <form action="/users/profile/save" method="POST">
          {{#if this.isGeneralTab}}
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="userDisplayName"
              value="{{this.info.userDisplayName}}" required>
          </div>

          <div class="form-group">
            <label for="name">Username</label>
            <input type="text" class="form-control" id="username" name="userUsername" value="{{this.info.userUsername}}"
              readonly>
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="userEmail" aria-describedby="emailHelp"
              value="{{this.info.userEmail}}" required>
          </div>
          <div class="form-group">
            <label for="describe">Describe</label>
            <textarea class="form-control" name="userIntro" id="describe" cols="30" rows="10">
              {{this.info.userIntro}}
            </textarea>
          </div>
          {{else}}
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="userPassword"
              value="{{this.info.userPassword}}" required>
          </div>
          {{/if}}
          <div class="text-right">
            <a class="btn btn-outline-success mr-2" href="/" role="button">
              <i class="fa fa-backward" aria-hidden="true"></i>
              Back
            </a>
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-save"></i>
              Save
            </button>
          </div>
        </form>

      </div>
    </div>


  </div>
</div>